    <div class="border-top p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group font-weight-light">
                      <a href="#" class="list-group-item list-group-item-action active">
                          Edit Profile
                          <div style="color:white" class="float-right">
                            <i class="fas fa-angle-right"></i>
                          </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                          Change Passward
                      </a>
                    </div>
                </div>
                <div class="col-md-9 mt-sm-4 mt-md-0">
                    <label for="basic-url">Address</label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="21 Sill Ave, Peach City, ON, M4K 1G1" aria-label="Address" aria-describedby="basic-addon1">
                    </div>
                    <label for="basic-url">Phone Number</label>
                    <div class="input-group mb-3"> 
                      <input type="number" class="form-control" placeholder="+1 6478666999" aria-label="number" aria-describedby="basic-addon1">
                    </div>
                    <label for="basic-url">Email</label>
                    <div class="input-group mb-3"> 
                      <input type="email" class="form-control" placeholder="directspacing@gmail.com" aria-label="email" aria-describedby="basic-addon1">
                    </div>
                    <button type="button" class="btn btn-warning">Change</button>
                </div>
            </div>
        </div>
    </div>