<nav class="navbar navbar-light navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="" routerLinkActive="active">
      <img alt="DIRECTSPACING" src="assets/images/logo_dark.svg" height="30px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMain" aria-controls="navbarsExample07"
      aria-label="Toggle navigation" aria-hidden="true">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsMain">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" href="#" routerLink="/ourstory" routerLinkActive="active">Our Story
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#" routerLink="/appointment">Appointment</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#" routerLink="/help">Help</a>
        </li>
        <li class="nav-item mx-2" *ngIf="!user">
          <a class="nav-link" href="#" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item mx-2" *ngIf="!user">
          <a class="nav-link" href="#" routerLink="/login">Log In</a>
        </li>
        <li class="nav-item mx-2" *ngIf="user">
          <a class="nav-link" href="#" routerLink="profile">My Account</a>
        </li>
        <li class="nav-item mx-2" *ngIf="user">
          <a class="nav-link" (click)="logout()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>