<div class="border-top p-2 ">
  <div class="container">
    <input type="text" id="searchName" placeholder="Search for names.." title="Type in a name" (keyup)="onKey($event)">

    <div class="form-group">
      <div class="form-check form-check-inline   col-md-2">
        <input type="checkbox" id="name" class="form-check-input" checked>
        <label class="form-check-label" for="inlineRadio2">Name</label>
      </div>
      <div class="form-check form-check-inline  col-md-2">
        <input type="checkbox" id="id" class="form-check-input" checked>
        <label class="form-check-label" for="inlineRadio1">ID</label>
      </div>
      <div class="form-check form-check-inline   col-md-2">
        <input type="checkbox" id="pt" class="form-check-input" checked>
        <label class="form-check-label" for="inlineRadio2">Project Type</label>
      </div>
      <div class="form-check form-check-inline   col-md-2">
        <input type="checkbox" id="comments" class="form-check-input" checked>
        <label class="form-check-label" for="inlineRadio2">Comments</label>
      </div>
      <div class="form-check form-check-inline   col-md-2">
        <input type="checkbox" id="add" class="form-check-input" checked>
        <label class="form-check-label" for="inlineRadio2">Address</label>
      </div>
      <div class="form-check form-check-inline   col-md-2">
        <input type="checkbox" id="email" class="form-check-input" checked>
        <label class="form-check-label" for="inlineRadio2">Email</label>
      </div>
      <div class="form-check form-check-inline   col-md-2">
        <input type="checkbox" id="uname" class="form-check-input" checked>
        <label class="form-check-label" for="inlineRadio2">Username</label>
      </div>
    </div>

    <div class="table-responsive form-group" id="tbody" style="margin: 40px 0px 0px 0px;">
      <table class="table">
        <thead>
          <tr>
            <th id="name">Name</th>
            <th id="id">ID</th>
            <th id="pt">Project Type</th>
            <th id="comments">Comments</th>
            <th id="add">Address</th>
            <th id="email">Email</th>
            <th id="uname">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th id="name">{{user.name}}</th>
            <th id="id">{{user._id}}</th>
            <th id="pt">{{user.projectType}}</th>
            <th id="comments">{{user.comments}}</th>
            <th id="add">{{user.address}}</th>
            <th id="email">{{user.email}}</th>
            <th id="uname">{{user.username}}</th>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>