<div class="border-top p-5">
    <div class="container">
        <div class="col-md-5 mx-auto">
          <form class="form-signin">
              <div class="text-center mb-4">
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" aria-label="Email" class="form-control" placeholder="Email address" required="" autofocus="">
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" aria-label="Password" class="form-control" placeholder="Password" required="">
              </div>

              <div class="form-label-group">
                  <input type="password" id="psw-repeat" aria-label="Repeat Password" class="form-control" placeholder="Password" required="">
                </div>

              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me" aria-label="Remember me"> Remember me
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit" aria-label="Sign in">Sign in</button>
              <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
            </form>
</div></div></div>