<div class="pb-4 ">
          <div class="container">
              <div class="col-md-9 mx-auto text-center">
				  <div><i class="fas fa-check-circle" style="color:#ffc107; font-size: 100px"></i></div>
                  <h2 class="m-2 pt-4 font-weight-light">Thank You!</h2>
				  <p class="py-2 text-secondary font-weight-light">Your appointment has been received.</p>
			  </div></div></div>

<ul>
  <li *ngFor="let user of users">
      <span class="badge">{{user.name}}</span> {{user.id}}
  </li>
</ul>