    <div class="container">
        <div class="cover p-3 p-md-5 rounded">
            <div class="col-md-9 p-4 mx-auto">
                <h3 class="font-weight-light">Technology facilitated convenient home renovation services with transparency and sincerty.</h3> 
                <p class="font-weight-light">Better living spaces with predictable and fun processes.</p>
            </div>
        </div>    
    </div>
      
      
      <!-- Designer Package-->
      <div class="pb-4 ">
          <div class="container">
              <div class="col-md-9 mx-auto text-center">
                  <h2 class="m-2 pt-4 font-weight-light">- Designer Packages -</h2>
                  <p class="py-2 text-secondary font-weight-light">Improve part of your living space should be easy. <br>Our packages offer head to toe solution to your renovation experience.<br> <span class="p-1 bg-warning border-0 rounded text-dark">Design</span> + <span class="p-1 bg-warning border-0 rounded text-dark">Paperwork</span> + <span class="p-1 bg-warning border-0 rounded text-dark">Materials</span> + <span class="p-1 bg-warning border-0 rounded text-dark">Technicians</span> + <span class="p-1 bg-warning border-0 rounded text-dark">Cleaning</span> </p>
              </div>
              <div class="mb-5 bg-light">
                  <img class="img-fluid" src="assets/images/bath-general.jpg" alt="">
                    <div class="d-md-flex justify-content-between">
                        <div>
                          <div class="p-3">
                              <h4 class="font-weight-light">Full Bathroom Ronovation - Subway Tile Simplicity</h4>
                                <div class="text-secondary font-weight-light">Add some discription of the package</div>
                          </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-3">
                            <div class="font-weight-light">From: $9989 CAD</div>
                            <div class="font-weight-light text-secondary">30% less than troditional renovation</div>
                            </div>
                            <div class="p-3 bg-warning detail-button font-weight-light">View Details</div>
                        </div>
                    </div>
              </div>
              <div class="mb-5 bg-light">
                  <img class="img-fluid" src="assets/images/Bwhite.jpg" alt="">
                  <div class="d-md-flex justify-content-between">
                        <div>
                          <div class="p-3">
                              <h4 class="font-weight-light">Full Bathroom Ronovation - Subway Tile Simplicity</h4>
                                <div class="text-secondary font-weight-light">Add some discription of the package</div>
                          </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-3">
                            <div class="font-weight-light">From: $9989 CAD</div>
                            <div class="font-weight-light text-secondary">30% less than troditional renovation</div>
                            </div>
                            <div class="p-3 bg-warning detail-button font-weight-light">View Details</div>
                        </div>
                    </div>
              </div>
              <div class="mb-5 bg-light">
                  <img class="img-fluid" src="assets/images/Contrate.jpg" alt="">
                  <div class="d-md-flex justify-content-between">
                        <div>
                          <div class="p-3">
                              <h4 class="font-weight-light">Full Bathroom Ronovation - Subway Tile Simplicity</h4>
                                <div class="text-secondary font-weight-light">Add some discription of the package</div>
                          </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-3">
                            <div class="font-weight-light">From: $9989 CAD</div>
                            <div class="font-weight-light text-secondary">30% less than troditional renovation</div>
                            </div>
                            <div class="p-3 bg-warning detail-button font-weight-light">View Details</div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
      
      <!-- Designer Package-->
      <!-- Service -->
      <div class="border-top px-lg-5 pt-4">
          <div class="container px-lg-5">
          <div class="col-md-9 mx-auto text-center">
              <h2 class="mx-4 font-weight-light">- Other Services With Online Quote -</h2>
              <p class="pt-2 text-secondary font-weight-light">It can get frustrating when get a quote during renovation. <br>We outline key factors influence on the renovation price to provide transpareny.</p>
          </div>
          
          <div class="row px-lg-3 py-2 mx-lg-4">
              <div class="col-sm-4 px-lg-4">
                  <div class="position-relative ">
                      <img src="assets/images/flooring.svg" alt="">
                      <div class="h4 font-weight-light pt-3 service-title">Flooring</div>
                  </div>
                  <p class="text-justfy text-secondary font-weight-light">Hardwood, laminate flooring, carpet replacement and installation.</p>
              </div>
              <div class="col-sm-4 px-lg-4">
                  <div class="position-relative">
                      <img src="assets/images/wallpainting.svg" alt="">
                      <div class="h4 font-weight-light pt-3 service-title">Painting</div>
                  </div>
                  <p class="text-justfy text-secondary font-weight-light">Wall, trim and door paint, Wallpaper installation and removal.</p>
              </div>
              <div class="col-sm-4 px-lg-4">
                  <div class="position-relative">
                      <img src="assets/images/plumbing.svg" alt="">
                      <div class="h4 service-title font-weight-light pt-3">Appliances Install</div>
                  </div>
                  <p class="text-justify text-secondary font-weight-light">Sink, Faucet, Toilet and Shower head replacement and installation.</p>
              </div>
          </div>
        </div>
      </div>
      
      
      <!-- Process -->
        <div class="section process bg-light">
            <div class="container">
                <h2 class="m-2 mt-4 pt-5 pb-3 text-center font-weight-light">- Our Process -</h2>
            <ul class="list-unstyled ">
                <li class="r"></li>
                <li class="py-4 d-inline-flex">
                    <img class="float-left dot" src="assets/images/doc.svg" alt="" style="height:26px;">
                    <div class="float-left text-warning pt-3 h1">1.</div>
                    <div>
                        <img class="float-left mx-4" src="assets/images/pro-1.svg" alt="" style="height:100px;">
                    <h5>Online Quoting</h5>
                    <p class="text-justify pr-lg-5 text-secondary font-weight-light"><Mark>We list all the key factors that influence the price and quality online</Mark> to provide instant quote. The key steps infomation would be useful even if you decide not to work with us. We’d like to make your time spending with us worth.</p>
                    </div>
                </li>
                <li class="py-4 d-inline-flex">
                    <img class="float-left dot" src="assets/images/doc.svg" alt="" style="height:26px;">
                    <div class="float-left text-warning pt-3 h1">2.</div>
                    <div>
                        <img class="float-left mx-4" src="assets/images/pro-2.svg" alt="" style="height:100px;">
                        <h5>Choose material samples (Optional)</h5>
                        <p class="text-justify pr-lg-5 text-secondary font-weight-light">Select prefered colour, flooring provided. The designer will bring the samples to your home during measure for free. <mark>We’d like to help you get the job done by just staying at home. It's acutally important to see how the materials extactly look with the lighting conditions in your spacing</mark></p>
                    </div>
                </li>
                <li class="py-4 d-inline-flex">
                    <img class="float-left dot" src="assets/images/doc.svg" alt="" style="height:26px;">
                    <div class="float-left text-warning pt-3 h1">3.</div>
                    <div>
                        <img class="float-left mx-4" src="assets/images/pro-3.svg" alt="" style="height:100px;">
                        <h5>Onsite Measuring</h5>
                        <p class="text-justify pr-lg-5 text-secondary font-weight-light">If you feel the per SQFT price is fare, we will send our designers onsite to measure. 
A precise quote will be generated. In the meantime, the designers will answer your
questions. Time can be choosen through our online sysytem. <mark>No sales push or pitch.</mark> </p>
                    </div>
                    
                </li>
                <li class="py-4 d-inline-flex">
                    <img class="float-left dot" src="assets/images/doc.svg" alt="" style="height:26px;">
                    <div class="float-left text-warning pt-3 h1">4.</div>
                    <div>
                        <img class="float-left mx-4" src="assets/images/pro-4.svg" alt="" style="height:100px;">
                        <h5>Construction</h5>
                        <p class="text-justify pr-lg-5 text-secondary font-weight-light">If you are happy with the final quote. We will generate a fully-legal agreement and 
    handle the construction from the start to the end with high quality. We deal with
    all situations with transparency, <mark>send progress images and report online.</mark> </p>
                    </div>
                </li>
                <li class="py-4 d-inline-flex">
                    <img class="float-left dot" src="assets/images/doc.svg" alt="" style="height:26px;">
                    <div class="float-left text-warning pt-3 h1">5.</div>
                    <div>
                        <img class="float-left mx-4" src="assets/images/pro-5.svg" alt="" style="height:100px;">
                        <h5>Services and Warrenty</h5>
                        <p class="text-justify pr-lg-5 text-secondary font-weight-light">We keep the record of your projects with all details such ad painiting colours and 
structure drawing for future need. We handle repairment and warrenty immediately
like how we engage with new customers.   </p>
                    </div> 
                </li>
            </ul>
            </div>
        </div>
  <!-- Process -->
<!-- Why us -->
        <div class="section why-us">
            <div class="container">
                <h2 class="m-2 mt-4 p-4 text-center font-weight-light">- Why Us -</h2>
                    <div class="row">
                        <div class="col-md-6 my-4">     
                              <div class="clearfix d-lg-inline-flex">
                                  <div>
                                    <img class="float-left mr-4 my-2" src="assets/images/pricing.svg" alt="" style="height:96px;">
                                  </div>
                                  <div>
                                    <h5>Transparenct Price</h5>
                                    <p class="pr-4 text-justify text-secondary font-weight-light">Material cost, labour cost, List price-infulencal 
    factors clearly at the front. Suggest options based
    on your needs. No hidden cost.</p>
                                  </div>
                              </div>
                        </div>
                        <div class="col-md-6 my-4">
                          <div class="clearfix d-lg-inline-flex">
                              <div class="float-left mr-4 my-2 inline-block">
                                  <img src="assets/images/mobile-update.svg" alt="" style="height:96px;">
                              </div>
                              <div>
                                  <h5>Mobile Status Update</h5>
                                   <p class="pr-4 text-justify text-secondary font-weight-light">Phone call not always never necessary.
Throught Facebook, text message or any other ways 
you like, we will send update and anwser questions. 
Enjoy the good life and leave renovation to us. </p>
                              </div>
                              
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 my-4">
                            <div class="clearfix d-lg-inline-flex">
                                <div>
                                    <img class="float-left mr-4 my-2" src="assets/images/lisensed-worker.svg" alt="" style="height:96px;">
                                </div>
                                <div>
                                    <h5>Legit Process and Licensed Crew</h5>
                                        <p class="pr-4 text-justify text-secondary font-weight-light">Your safety and well-being is No.1 priority.
        Government assured aggreement, Lisense workers 
        with full Liablity and WSIB insurance. All the proof
        files you need for warrenty and tax report
        on your needs. </p>
                                </div>
                              
                            </div>
                        </div>       
                        <div class="col-md-6 my-4">
                            <div class="clearfix d-lg-inline-flex">
                                <div>
                                    <img class="float-left mr-4 my-2" src="assets/images/timing.svg" alt="" style="height:96px;">
                                </div>
                                <div>
                                    <h5>Time and Results Guaranteed</h5>
                                        <p class="pr-4 text-justify text-secondary font-weight-light">We value your time. We will always show up on time. 
    The project time table will be communicated and obeied. 
    100% alignment between the final results and the agree-
    ment.</p>
                                </div>
                              
                              
                            </div> 
                        </div>
                    </div>
                </div>
      </div>
  <!-- Why us -->